*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#nav li{
    float: left;
    width: 8em;
    background-color: indianred;
}
#nav li ul{
    width: 8em;
    position: absolute;
    left: -999em;
}
#nav li:hover ul{
    left: auto;
}